{% load allauth socialaccount %}
{% load static %}
{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}
    {% element provider_list %}
        {% for provider in socialaccount_providers %}
            {% if provider.id == "openid" %}
                {% for brand in provider.get_brands %}
                    {% provider_login_url provider openid=brand.openid_url process=process as href %}
                    {% element provider name=brand.name provider_id=provider.id href=href %}
                    {% endelement %}
                {% endfor %}
            {% endif %}
            
            <a title="Google" href="/accounts/google/login/?process=login"><img src="{% static "image/google.png" %}" alt="" style="width:30px; height:30px;"></a>
        {% endfor %}
    {% endelement %}
{% endif %}
